._container {
  height: 475px;
  background-color: var(--salyWhite);
  border: 5px solid #BDBDBD;
  border-radius: 15px;
  margin-right: -134px;
  margin-top: -262px;
  z-index: 2;
  opacity: 1;
  position: relative;
  top: 407px;
  right: 65%;
  width: 330px;
}
  
  ._overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  