._container {
  position: absolute;
  height: 475px;
  background-color: var(--salyWhite);
  border: 5px solid #BDBDBD;
  border-radius: 15px;
  margin-right: -134px;
  z-index: 2;
  opacity: 1;
  top: 100%;
  right: 50%;
  width: 330px;
}

._container::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
  
  ._overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  