.container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}
.signup{
    width: 120px;
    height: 35px;
    border: 2px solid var(--salyBlue);
    border-radius: 50px;
    color:var(--salyBlue);
}
.login{
    width: 150px;
    height: 45px;
    border-radius: 50px;
    color: var(--salyWhite);
}
.signupAlt{
    width: 120px;
    height: 35px;
    border: 2px solid var(--salyWhite);
    border-radius: 50px;
    color: var(--salyWhite);
}
._payOrder {
    width: 80%;
    border-radius: 30px;
    background-color: var(--lightSalyBlue);
    color: var(--salyWhite);
    transition: all 0.5s;
}
._payOrder:hover {
    background-color: var(--darkSalyBlue);
}
.edit{
    position: absolute;
    top: 13px;
    right: 16px;
    background-color: var(--salyPaleBlue);
    width: 52px;
    height: 31px;
    border-radius: 9px;
    color: var(--salyBlue);
}
.menu{
    position: absolute;
    top: 13px;
    right: 85px;
    background-color: rgba(173,216,230,0.6);
    width: 65px;
    height: 45px;
    text-align: center;
    border-radius: 9px;
    color: var(--salyBlue);
}
.cancel{
    background-color: var(--lightSalyRed);
    width: 61px;
    color: var(--salyGrayBorder);
}
.delete{
    width: 120px;
    height: 35px;
    border: 2px solid red;
    border-radius: 50px;
    color:var(--salyWhite);
    background-color: var(--lightSalyRed);
}
.primary{
    width: 120px;
    height: 35px;
    border: 2px solid var(--lightSalyBlue);
    border-radius: 50px;
    background-color: var(--lightSalyBlue);
    color: var(--salyWhite)
}
.primaryBig{
    width: 160px;
    height: 35px;
    border: 2px solid var(--salyBlue);
    border-radius: 50px;
    color:var(--salyBlue);
}
.primaryBig:hover{
    color: var(--salyWhite);
    background-color: var(--salyBlue);
}
.viewAll{
    align-self: flex-end;
    width: 90px;
    height: 20px;
    font-size: 13px;
    border: 2px solid var(--salyWhite);
    border-radius: 50px;
    color: var(--salyWhite);
}