.container{
    color: var(--salyBlue);
}

.editButton{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.welcomeMessage{
    font-weight: bolder;
    font-size: 20px;
    text-indent: 20px;
    margin-bottom: 43px;
}

.nameHeader{
    font-weight: lighter;
}

.registeredText{
    font-weight: bold;
    border-bottom: 2px solid var(--lightSalyBlue);
    padding-bottom: 17px;
    text-indent: 20px;
}

.editAddress{
    display: flex;
    justify-content: space-between;
    align-items: center;
}