.container{
    color: var(--salyBlue);
}

.editButton{
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.welcomeMessage{
    font-weight: bolder;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.nameHeader{
    font-weight: lighter;
}

.registeredText{
    font-weight: bold;
    margin: 10px;
}

.editAddress{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoutDelete{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 88px;
}

.textTitle{
    font-weight: bolder;
    font-size: 20px;
  }

.buttonContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }