.flip_card {
    background-color: transparent;
    width: 300px;
    height: 230px;
    perspective: 1000px;
    margin: 10px;
    border-radius: 12px;
  }
  .restaurantImage{
    border-radius: 12px 12px 0 0;
    height: 80%;
    width: 100%;
  }
  .name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: var(--salyBlue);
    font-size: 26px;
    padding-bottom: 17px;
    box-sizing: border-box;
    font-weight: 400;
  }
  
  .flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
  }
  
  .flip_card:hover .flip_card_inner {
    transform: rotateY(180deg);
    overflow: visible;
  }
  
  .flip_card_front, .flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
  }
  
  .flip_card_front {
    background-color: var(--salyWhite);
    color: black;
  }
  .flip_card_back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(110.34deg, #2372c2 -2.02%, #0e71c2 129.72%);
    color: white;
    transform: rotateY(180deg);
    font-weight: 600;
  } 