.container{
    background-color: #c4c4c4;
    height: 100vh;
    width: 100%;
}
.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #4d4d4d;
}