.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--salyBlack);
}
.imageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
}
.imageCase{
    width: 83%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--lightSalyGray);
    margin-top: 10px;
    border-radius: 12px
}
.img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.formContainer{
    width: 60%;
}
.footer{
    width: 100%;
    height: 80px;
    background-color: var(--lightSalyGray);
    border-radius: 0 0 15px 15px;
}
