._container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

._btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

._btn {
    width: 60px;
    height: 30px;
}