.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 575px;
    height: auto;
    background-color: var(--salyWhite);
    border: 2px solid var(--salyGrayBorder);
    border-radius: 10px;
}
.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    padding-left: 15px;
}
.selectedRestaurant{
    margin: 0.2em 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}
.searchBar{
    width: 40%;
    height: 50px;
}
.searchIcon{
    position: absolute;
    left: 9px;
    top: 13px;
    font-size: 25px;
    color: var(--salyGray);
}
.searchInput{
    outline: none;
    width: 80%;
    border: none;
}
.tableHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid var(--salyGrayBorder);
    border-bottom: 1px solid var(--salyGrayBorder);
}
.column{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 50px;
    font-weight: 800;
}
.restaurants{
    width: 100%;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: var(--salyBlue);
}
.limit{
    display: flex;
    justify-content: center;
    align-items: center;
}