.container{
    display: flex;
    flex-direction: column;
    width: 70%;
    min-width: 575px;
    height: 85%;
    background-color: var(--salyWhite);
    border: 2px solid var(--salyGrayBorder);
    border-radius: 10px;
}
.restaurantImage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
    background-color: var(--lightSalyGray);
}
