.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    padding-left: 15px;
}
.selectedRestaurant{
    margin: 0.2em 0px;
}
.checkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-width: 575px;
    height: auto;
    background-color: var(--salyWhite);
    border: 2px solid var(--salyGrayBorder);
    border-radius: 10px;
    padding-top: 15px;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: var(--salyBlue);
    width: 90%;
}
.limit{
    display: flex;
    justify-content: center;
    align-items: center;
}