.container{
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 100px;
    transition: top 0.6s;
    width: 100%;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 300px;
    margin-right: 7%;
}
.onScroll{
    top: -102px
}
.moving{
    background: linear-gradient(110.34deg, #0470DC -2.02%, #13F1FC 129.72%);
    border-radius: 20px;
    height: 80px;
}
.icons{
    font-size: 2em;
    color: var(--salyBlue);
    margin: 0 10px;
}
.movingIcons{
    color: var(--salyWhite);
}