._header {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 1;
}
._allContainter {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 80px;
}

._restoCard {
  width: 60%;
  position: relative;
  bottom: 80px;
}

._restoCardContainer {
  background-color: var(--salyWhite);
  border-radius: 15px;
  height: 50vh;
  padding: 0 20px;
  box-shadow: 3px 3px 16px -3px #00000050;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

._restoCategory {
  font-size: small;
}

._restoTitle {
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 10px;
}

._courseContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._viewCourses {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
._coursesBar {
  font-size: 22px;
  cursor: pointer;
  transition: all 0.5s;
}
._coursesBar:hover {
  font-weight: bolder;
  color: var(--darkSalyBlue);
}

._dropToggle {
  padding: 0 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

._iconEllipsis {
  font-size: 25px;
  color: var(--salyGrayText);
  transition: all 0.5s;
}
._iconEllipsis:hover {
  color: var(--lightSalyBlue);
}
._moreCourses {
  background-color: var(--salyWhite);
  border-radius: 10px;
  box-shadow: 3px 3px 16px -3px #00000050;
  padding: 0 20px;
  cursor: pointer;
  overflow: scroll;
}

._moreCourses::-webkit-scrollbar {
  display: none;
}

._dropItem:hover {
  color: var(--darkSalyBlue);
}

._underline {
  text-decoration: underline;
  text-decoration-color: var(--lightSalyBlue);
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 8px;
  text-underline-offset: -8px;
}

._courseAndDish {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

._dishesByClick {
  display: flex;
  flex-wrap: wrap;
}

._dishSectionContainer {
  width: 45%;
  margin: 0 15px 15px;
}

._infoGlovo {
  width: 34%;
  background-color: var(--salyWhite);
  box-shadow: 3px 3px 16px -3px #00000050;
  border-radius: 15px;
  position: sticky;
  top: 20px;
  margin-top: -80px;
  z-index: 1;
}
.modalContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}
.column1{
    height: 67%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageContainer{
    height: 100%;
    width: 70%;
    border-radius: 12px;
    overflow: hidden;
}
.column2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
.description{
    width: 75%;
    height: 70%;
    font-size: 15px;
}
.price{
    align-self: flex-end;
    font-size: 26px;
}
.image{
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}