._cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

._restoFeatures {
  width: 75%;
  height: 10vh;
  border: 1px solid black;
}

._cart {
    width: 75%; 
    height: 20vh;
    margin-top: 20px;
    overflow-y: scroll;
}

._newOrder{
  display: flex;
  justify-content: space-between;
  align-items: center;
}