@import './assets/css-variables/colors.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import './assets/css-variables/fonts.css';

body{
  background-color: #F2F2F2;
  font-family: var(--mainFont), var(--altFont);
  font-style: normal;
  color: var(--salyBlack);
}
a{
  text-decoration: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 8000s;
}
input{
    background-color: rgba(242, 242, 242,0.0);
    font-family: var(--mainFont);
    color: var(--salyBlack);
}
select,
select:-webkit-autofill,
select:-webkit-autofill:hover, 
select:-webkit-autofill:focus, 
select:-webkit-autofill:active {
    text-decoration: none;
    outline: none;
}