@import './assets/css-variables/colors.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import './assets/css-variables/fonts.css';

body{
  background-color: #F2F2F2;
  font-family: var(--mainFont);
  font-style: normal;
}
a{
  text-decoration: none;
}