:root{
    --salyBlue: #0470DC;
    --lightSalyBlue: #00b5fd;
    --superLightSalyBlue: #4db5dfc0;
    --darkSalyBlue: #2673D1;
    --salyWhite: #FFFFFF;
    --salyGray: #0f2d5273;
    --salyGrayBorder: #E6EFFB;
    --lightSalyGray: #F7F7F7;
    --salyGrayText: #979797;
    --lightSalyRed: rgba(255,153,153,0.8);
    --salyPaleBlue:  rgba(173,216,230,0.6);
    --darkGrey: #383838;
    --salyBlack: #111111;
}