.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid var(--salyGrayBorder);
    color: var(--salyGrayText);
}
.row:hover{
    background-color: var(--lightSalyGray);
}
.completed{
    color: var(--salyGrayText);
    background-color: var(--lightSalyGray);
    opacity: 0.8;
    text-decoration: line-through;
}
.column{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.name:hover{
    font-weight: 800;
}
