.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    width: 240px;
    color: var(--salyBlack);
}
.icon:hover{
    color: var(--salyBlack);
}